.char {
  display: inline-block;
  background-image: url("../images/background-text.jpg");
  background-size: cover;
  background-position: center;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.clip-hero {
  clip-path: polygon(0 0, 100% 0, 100% 85%, 50% 95%, 0 85%);
}

.card{
    height: 21rem;
    width: 31rem;
    margin-left: 2rem;
    border: 10px solid #161a1d;
    border-radius: 1rem;
    touch-action: none;
    user-select: none;
    overflow: hidden;
}
.event-cards {
    cursor: grab;
    transition: box-shadow 0.3s ease;
}
.event-cards[style*="translate3d(0px"] {
    border-left: 2px solid rgba(255, 255, 255, 0.1);
}