.char {
  display: inline-block;
  background-image: url("../images/background-text.jpg");
  background-size: cover;
  background-position: center;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.clip-hero {
  clip-path: polygon(0 0, 100% 0, 100% 85%, 50% 95%, 0 85%);
}