<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Login</title>
</head>
<body class="flex justify-center items-center h-screen bg-gradient-to-br from-blue-700 to-gray-900">
    <div class="bg-white p-8 rounded shadow-md w-full max-w-md">
        <h2 class="text-2xl font-bold mb-6 text-center">Login to CampusConnect</h2>
        <div class="space-y-4">
            <div>
                <h3 for="username" class="block text-gray-700">Username</h3>
                <input type="text" id="username2" required class="w-full px-3 py-2 border rounded">
            </div>
            <div>
                <h3 for="password" class="block text-gray-700">Password</h3>
                <input type="password" id="password2" required class="w-full px-3 py-2 border rounded">
            </div>
            <div>
                <button id="submit_Btn2" class="w-full bg-gray-800 text-white py-2 rounded hover:bg-blue-500">Login</button>
            </div>
        </div>
    </div>
    <script src="../static/js/user.js"></script>
</body>
</html>